atomicwrites==1.4.1
attrs==22.2.0
colorama==0.4.6
coverage==7.2.1
dj-database-url==1.2.0
Django==4.1.10
django-simple-history==3.2.0
djangorestframework==3.14.0
gunicorn==20.1.0
importlib-metadata==6.0.0
more-itertools==9.1.0
packaging==23.0
pathlib2==2.3.7
pluggy==1.0.0
psycopg2==2.9.5
py==1.11.0
pyparsing==3.0.9
pytest==7.2.1
pytest-cov==4.0.0
pytest-django==4.5.2
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.4
wcwidth==0.2.6
whitenoise==6.4.0
zipp==3.15.0
